body {
  background-color: #fdd42f;
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", Arial;
  font-size: 12px;
  text-decoration: none; }

#container {
  margin: 0 auto;
  width: 68%;
  margin-bottom: 20px;
  margin-top: 30px; }

#content {
  background-color: white; }
  #content #posts {
    background-color: white;
    width: 68%;
    margin: 0 auto 20px;
    padding: 10px; }
    #content #posts .title {
      font-size: 22px; }
    #content #posts .text {
      font-size: 13px; }
    #content #posts .metadata {
      display: inline-block;
      width: 100%; }
    #content #posts .reblogged {
      float: right; }

header {
  background-color: white;
  width: 100%; }

h1 {
  font-size: 37px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 20px; }

h4 {
  line-height: 17px;
  color: #f4c024;
  font-size: 14px;
  margin-left: 10px;
  font-weight: normal;
  padding: 2px 6px;
  float: right; }

h5 {
  font-size: 13px; }

h3.sub-title {
  margin: 15px 2px; }
  h3.sub-title span {
    border-bottom: 1px solid #999999;
    padding-bottom: 7px;
    color: #333333;
    line-height: 16px;
    margin-left: 28px;
    display: block; }

div.top {
  height: 60px;
  margin-bottom: 20px;
  overflow: hidden;
  width: 590px; }

.socialicons {
  float: right;
  margin-top: 18px; }
  .socialicons li {
    float: left;
    display: inline;
    margin: 0;
    padding: 0;
    margin-right: 2px; }

.social-facebook {
  float: left;
  width: 30px;
  height: 30px;
  background: #222222 url("../images/social_facebook.png") no-repeat 5px 5px; }

.social-twitter {
  float: left;
  width: 30px;
  height: 30px;
  background: #222222 url("../images/social_twitter.png") no-repeat 5px 5px; }

.social-googleplus {
  float: left;
  width: 30px;
  height: 30px;
  background: #222222 url("../images/social_googleplus.png") no-repeat 4px 3px; }

.social-in {
  float: left;
  width: 30px;
  height: 30px;
  background: #222222 url("../images/social_in.png") no-repeat 4px 3px; }

.social-facebook:hover {
  background-color: #3b5998; }

.social-twitter:hover {
  background-color: #22b1e5; }

.social-googleplus:hover {
  background-color: #d94a38; }

.social-in:hover {
  background-color: #0075a1; }

.social-mail:hover {
  background-color: #f6c500; }

.like_and_reblog_buttons {
  list-style: none; }
  .like_and_reblog_buttons p {
    float: right;
    margin: 0;
    padding: 7px 15px;
    height: 20px; }

#profile {
  background-position: center bottom, left top;
  background-repeat: repeat-x;
  overflow: hidden;
  background-color: #fdd42f; }

.about {
  float: left;
  position: relative;
  width: 100%; }
  .about .photo-inner img {
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 3px #aaaaaa;
    margin-left: 42.5%; }
  .about h1 {
    font-weight: 900;
    color: white;
    line-height: 34px;
    margin-top: -200px;
    text-align: center;
    text-shadow: 3px 3px 3px #cccccc; }
  .about h2 {
    text-align: center;
    font-size: 20px;
    color: white;
    text-shadow: 3px 3px 3px #cccccc; }

.personal-info {
  width: 300px;
  float: right;
  margin-top: 30px;
  min-height: 230px;
  margin-left: 20px;
  line-height: 1;
  padding: 20px 0 0 20px; }
  .personal-info li {
    font-size: 14px;
    margin-bottom: 10px;
    overflow: hidden; }
    .personal-info li label {
      color: #a87f09;
      background-color: #f4c024;
      float: left;
      padding: 4px 7px;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px; }
    .personal-info li span {
      float: right;
      width: 170px;
      color: #a87f09; }

.menu {
  height: 100px;
  position: relative; }

.tabs {
  height: 116px;
  position: absolute; }
  .tabs li {
    float: left;
    height: 116px;
    list-style: none; }
    .tabs li > a {
      padding-top: 40px;
      width: 115px;
      height: 35px;
      display: block;
      background-repeat: no-repeat;
      font-size: 20px;
      text-align: center;
      list-style: none;
      color: #333333; }
    .tabs li label {
      color: #a87f09;
      background-color: #f4c024;
      float: left;
      padding: 10px 10px;
      border-radius: 4px;
      margin: 15px;
      text-decoration: none;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      font-size: 15px; }
    .tabs li.active a {
      color: #fdc62a;
      text-decoration: none; }

#content #posts .permalink {
  font-size: 9px;
  margin-top: 10px; }

#resume {
  padding: 20px;
  overflow: hidden; }

.skills-section {
  float: left; }

.timeline-section {
  float: left;
  width: 460px;
  padding-right: 60px; }

.timeline {
  padding-top: 10px; }
  .timeline li {
    margin-bottom: 20px; }
    .timeline li .timelineUnit {
      line-height: 17px;
      margin-left: 11px;
      color: #444444;
      font-size: 13px;
      border-left: 1px solid #fadc66;
      padding-left: 15px; }
      .timeline li .timelineUnit .timelineDate {
        line-height: 17px;
        color: #f4c024;
        font-size: 14px;
        margin-left: 10px;
        font-weight: normal;
        padding: 2px 6px;
        float: right; }
      .timeline li .timelineUnit h4 {
        line-height: 24px;
        font-size: 15px;
        color: #444444; }
      .timeline li .timelineUnit h5 {
        line-height: 18px;
        font-size: 13px;
        color: #999999; }
      .timeline li .timelineUnit p {
        font-size: 13px;
        margin-top: 5px; }

.skills-section {
  width: 300px; }

.skills {
  margin-top: 25px;
  overflow: hidden;
  height: 100%; }
  .skills li {
    margin-top: 5px;
    margin-bottom: 15px;
    float: left;
    font-size: 13px;
    padding-left: 30px;
    line-height: 17px;
    color: #444444; }
    .skills li h4 {
      float: left;
      font-size: 15px;
      color: #444444; }
    .skills li .timelineDate {
      line-height: 17px;
      color: #f4c024;
      font-size: 14px;
      padding: 2px 6px; }

.skill li p {
  color: #666666;
  font-size: 20px; }

#portfolio {
  padding: 0 20px 20px 20px;
  overflow: hidden; }
  #portfolio .extra-text {
    font-size: 20px;
    padding: 24px 0;
    border-bottom: 1px solid #ededed;
    color: #999999;
    margin-bottom: 20px; }

#portfolio-filter {
  overflow: hidden;
  padding: 15px 0 0 15px; }
  #portfolio-filter li a {
    float: left;
    margin-right: 10px;
    color: white;
    background-color: #666666;
    padding: 6px;
    margin-bottom: 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }
    #portfolio-filter li a:hover {
      background-color: #fdc62a; }

#contact {
  padding: 30px 0;
  overflow: hidden; }

.contact-info, .contact-form {
  float: left;
  padding: 0 20px; }

.contact-info {
  width: 250px; }

.contact-form {
  width: 50%; }

.contact-info ul {
  float: left;
  margin-left: 11px;
  border-left: 1px solid #fadc66;
  padding-left: 18px; }
  .contact-info ul li {
    font-size: 13px;
    line-height: 20px;
    color: #666666;
    overflow: hidden; }

#contactform {
  padding-left: 30px; }
  #contactform p {
    margin-bottom: 15px; }
    #contactform p label {
      display: block;
      color: #999999;
      margin-bottom: 8px;
      font-size: 13px; }
  #contactform .input {
    line-height: 20px;
    height: 20px;
    width: 60%; }
  #contactform .textarea {
    width: 85%; }
  #contactform .submit {
    color: white;
    background-color: #666666;
    padding: 8px;
    border: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer;
    font-size: 13px; }
    #contactform .submit:hover {
      background-color: #fdc62a; }
  #contactform .input {
    padding: 6px;
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    color: #999999;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 13px; }

.textarea {
  padding: 6px;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  color: #999999;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 13px; }

/* Media Queries */
@media only screen and (min-width: 42.667em) and (max-width: 53.278) {
  #container {
    width: 41.667em; }

  /*------------------------------------------------------- */
  /* Profile Section */
  /*------------------------------------------------------- */
  /* About */
  .about h1 {
    line-height: 2.111em;
    font-size: 1.667em; }
  .about h3 {
    font-size: 0.778em;
    line-height: 0.778em; }

  /* Personal info */
  .personal-info {
    width: 23.889em;
    margin-right: 2.778em; }

  /*------------------------------------------------------- */
  /* Resume */
  /*------------------------------------------------------- */
  .timeline-section {
    width: 21.111em;
    padding-right: 1.667em; }

  .skills-section {
    width: 16.667em; }

  /* Portfolio */
  #portfolio-filter {
    width: 41.667em;
    margin-right: 0.556em; }

  .contact-info {
    width: 13.889em; }

  .contact-form {
    width: 23.333em; } }

@media only screen and (max-width: 479px) {
  #container {
    width: 320px;
    margin-top: 10px; }

  header {
    width: 340px; }

  #content {
    width: 340px; }
    #content #posts {
      width: 320px;
      margin: 0 auto 20px;
      padding: 10px; }
      #content #posts .photoset-inner {
        width: 320px; }

  div.top {
    height: 50px;
    width: 320px;
    margin-bottom: 5px; }

  .about {
    width: 280px;
    display: block;
    margin: 10px 0 15px 10px; }
    .about img {
      width: 340px;
      height: 240px;
      margin-top: -10px;
      margin-left: -10px; }
    .about .photo-inner {
      margin-left: 30px;
      width: 180px;
      padding: 12px 0 0 20px; }
      .about .photo-inner img {
        background-color: white;
        border-radius: 100px;
        box-shadow: 2px 2px 3px #aaaaaa;
        margin-left: 35%;
        width: 100px;
        height: 100px; }
    .about h1 {
      line-height: 38px;
      text-align: center;
      margin-top: -170px; }
    .about h3 {
      font-size: 14px;
      line-height: 14px;
      text-align: center;
      margin-top: -10px; } }

/* Personal info */
.personal-info {
  margin-top: 0;
  display: block;
  width: 280px;
  background: none;
  border-top: 1px solid #fdc62a;
  margin-left: 10px;
  min-height: 220px;
  padding-left: 0; }
  .personal-info li {
    font-size: 13px; }

.tabs {
  padding-left: 0px; }
  .tabs li > a {
    width: 75px;
    font-size: 13px; }

/* Resume */
#resume {
  padding: 10px; }

.timeline-section {
  width: 280px;
  padding-right: 60px; }

.skills-section, .skills li {
  width: 280px; }

/* Portfolio */
#portfolio-filter {
  width: 280px;
  padding: 0 0 0 0; }

.contact-info {
  width: 280px; }

.contact-form {
  margin-top: 20px;
  width: 280px; }

.contact-info, .contact-form {
  padding: 0 10px; }
