/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom site styles */
/*
  Using Minor Third Modular Scale:
  http://www.modularscale.com/?18&px&1.2&web&text
*/
body{
  font-family:"Century Gothic", Sans-Serif;
  font-size: 1.25em; /* 20px/16px = 1.25 */
  line-height: 1.25em; /* 25px / 20px */
  padding-top: 1.25em; /* 25px / 20px */
  padding-left: 1.200em; /* 5:6 ratio on baseline */
  padding-right: 0.600em; /* half the 5:6 ratio */
  text-size-adjust: 100%;
  margin: 0 auto;
  background-color:#ffb84d;
}

h1{
	font-family:Rockwell;
	font-size:2.6666666666666667em;  /*30px/18px */
	line-height:1.6666666666666667em; /*25.92*2/31.104*/
	padding-top:0.8333333333333334em; /*25.92px/31.104 */
	padding-bottom:0.6666666666666667em; /* 25.92*2/31.104 */
	text-align:center;
}

h2{
  font-family:Rockwell;
  font-size: 1.728em; /* 31.104px / 18px */
  line-height: 1.6666666666666667em; /* 25.92 * 2 / 31.104 */
  padding-top: 0.8333333333333334em; /* 25.92px / 31.104 */
  padding-bottom: 1.6666666666666667em; /* 25.92 * 2 / 31.104 */
}

ul {
		max-width: 35.625em;
		padding: 0.9375em;
		margin: 0em auto 3.75em auto;
		border-top: 0.125em solid #000;
		border-bottom: 0.0625em solid #000;
		text-align: center;
  }

li {
		display: inline;
		margin: 2px 3px;
}

a {
		color: #000000;
		text-transform: uppercase;
		text-decoration: none;
		padding: 0.25em 1.125em 0.3125em 1.125em;
  }
			
a:hover, a.on {
		color: #cc3333;
		background-color: #ffb84d;
		padding: 0.25em 1.125em 0.3125em 1.125em;
	}
img {
	display:block;
	max-width:100%;
	border-radius: 50%;
	float:left;
}

.container {
    background-color:#ffb84d;
    margin: 0 auto;
    max-width:90%;
    padding:3.125em;
    min-width: 12.5em;
    }

@media all and (min-width: 1em) {
  .container{
  	padding:0em;
  }
  [class*="item"]{
	padding:0em;
  }
}

/*Not sure how to make the text around the image*/
/*@media all and (min-width: 25em) {
	.container{
		max-width:43.75em;
	}
	
	.item-1-1{
		display:flex;
		float:left;
		padding:0 0;
		border:none;
		max-width:95%;
		margin-left:2%;
		margin-right:2%;
		height:auto;
		padding-bottom:3.75em;
	}
	
	.images{
		display:flex;
		float:left;
		margin:0 0 1em 1em;
	}
	
	.item-1-2{
		float:left;
		max-width:70%;
		margin:0 0 0.625em 0.625em;
	}
}*/
@media all and (min-width:30em) {

.container{
background-color:#999999;
    margin: 0 auto;
    max-width:95%;
    padding:3.125em;
}
[class*="item"]{
    padding:0.833em;
    width:100%;
}

img {
    max-width:80%;
 }
 }

@media all and (min-width:42em) {

.container {
    max-width:43.75em;
}

.item-1-1 {
    display:flex;
    padding:0 0;
    border:none;
    max-width:95%;
    margin-left:2%;
    margin-right:2%;
    height:auto;
    padding-bottom:3.75em;
}

.item-1-2 {
    float:center;
    width:40%;
    max-width:25em;
}

.images{
   float:right;
   display:flex;
   max-width:55%;
   padding-left:2%
   padding-right:3%;
  }
.item2{
   display: block;
  }
.item2 > div {
   display:flex;
   float:left;
   max-width:30%;
   padding-left:3.125em;
  }
}

.box,.boxBig{
	max-width: 43.75em;
	margin: auto;
	padding-left: 3.125em;
	padding-right: 3.125em;
	padding-bottom: 3.125em;
	background-color: rgba(255,255,255,0.5);
}
.boxBig{
	max-width: 68.75em;
}

.line{
	max-width: 43.6875em;
}
.lineB{
	max-width: 68.75em;
}
.lineHight{
	height: 1.875em;
	padding-top: 0.625em;
	padding-bottom: 0.625em;
}

.lineHight2{
	height: 20px;
}

.lineHight3{
	height: 1.25em;
}

.lineHight4{
	height: 2.5em;
}
.oneLine{
	float: left;
	max-width: 28.0625em;
	height: 1.125em;
	padding: 0.25em 1.125em 0.3125em 1.125em;
	font-size: 0.728em
}
.oneLine1{
	float: left;
	max-width: 15.5625em;
	height: 1.125em;
	text-align: right;
}
.oneLine2{
	float: left;
	max-width: 37.4375em;
	height: 1.125em;
}
.oneLine3{
	float: left;
	max-width: 6.1875em;
	height: 1.125em;
	text-align: right;
}
.oneOfThree,.twoOfThree,.threeOfThree{
	float: left;
	height: 1.25em;
}
.oneOfThree,.threeOfThree{
	max-width: 15.625em;
}
.twoOfThree{
	max-width: 37.4375em;
}
.threeOfThree{
	text-align: right;
}
.clear{
	clear: both;
}
.td1{
font-style:italic;
font-family:"Century Gothic", Serif;
font-size: 1em;
color: #999;
font-weight: normal;
}

h3,.td2{
font-style:italic;
font-size: 1em
} 
h4{
max-width:37.5em;
float: right;
}

h4 td{
font-style:italic;
font-size: 1em;
color: #999;
font-weight: normal;
float:right;
}
